

<div class="quiz">
	<h3>what kind of valley girl are you?</h3><br/>
	<input type = "radio" class = "calc" name = "radio1" value = '1' />Rad<br/>
	<input type = "radio" class = "calc" name = "radio1" value = '2' />Bitchin'<br/>
	<input type = "radio" class = "calc" name = "radio1" value = '3' />Spaz<br/>
	<input type = "radio" class = "calc" name = "radio1" value = '4' />Bodacious<br/>
	<input type = "radio" class = "calc" name = "radio1" value = '5' />Skanky<br/></div>


<div class="quiz">
<h3>Do you ever find yourself saying TUBULAR!?</h3><br/>
	<input type = "radio" class = "calc" name = "radio2" value = '4' />OMG like how did you like know?<br/>
	<input type = "radio" class = "calc" name = "radio2" value = '0' />No that's stupid.<br/>
	<input type = "radio" class = "calc" name = "radio2" value = '3' />I hate you. You're stupid.<br/>
	<input type = "radio" class = "calc" name = "radio2" value = '1' />Not at every breath just occasionally.<br/>
</div>

<div class="quiz">
<h3>how many times do you say “like” in a sentence?</h3><br/>
	<input type = "radio" class = "calc" name = "radio3" value = '5' />4+<br/>
	<input type = "radio" class = "calc" name = "radio3" value = '2' />2-3 times<br/>
	<input type = "radio" class = "calc" name = "radio3" value = '1' />1<br/>
	<input type = "radio" class = "calc" name = "radio3" value = '0' />NEVER.<br/>
</div>


<div class="quiz">
<h3>What's your favorite thing to do when you're bored?</h3><br/>
	<input type = "radio" class = "calc" name = "radio4" value = '1' />Play guitar<br/>
	<input type = "radio" class = "calc" name = "radio4" value = '2' />Text friends<br/>
	<input type = "radio" class = "calc" name = "radio4" value = '3' />Code<br/>
	<input type = "radio" class = "calc" name = "radio4" value = '4' />Snapchat<br/>
	<input type = "radio" class = "calc" name = "radio4" value = '5' />Go to the mall<br/>
</div>

<div class="quiz">
<h3>Which of the following lines did Julie say to Tommy when she broke up with him at the mall?</h3><br/>
	<input type = "radio" class = "calc" name = "radio5" value = '0' />"Like our relationship is like going nowhere ya know, I'm just like totally not into you anymore Tommy."<br/>
	<input type = "radio" class = "calc" name = "radio5" value = '0' />"Like can't you just leave me alone, like I don't love you anymore, ya know?"<br/>
	<input type = "radio" class = "calc" name = "radio5" value = '4' />"It's like I'm totally not in love with you anymore Tommy, I mean it's so boring."<br/>
	<input type = "radio" class = "calc" name = "radio5" value = '0' />"Things are just like totally not working out anymore, I mean it's like a total drag now."<br/>
</div>	

<div class="quiz">
<h3>What is your summer job??</h3><br/>
	<input type = "radio" class = "calc" name = "radio6" value = '3' />"Lifeguard at the pool"<br/>
	<input type = "radio" class = "calc" name = "radio6" value = '2' />"Ice cream store"<br/>
	<input type = "radio" class = "calc" name = "radio6" value = '4' />"Job?"<br/>
	<input type = "radio" class = "calc" name = "radio6" value = '0' />"Work at the library"<br/>
</div>	

<div id="submit" onclick="outcome()">How'd I do?</div>


Total Score:
<input type="text" name="sum" /><br/>
<textarea id="outcome"></textarea><br/>
<%= link_to "MAIN", root_path %><br/>


