* {
	margin: 0;
	padding: 0;
  text-decoration: none;
  font-family: 'Dosis', sans-serif;
  color: black;
}

.links-container {
  float: right;
  width: 95%;
}

.link {
  display: inline-block;
}


#totally_valley_logo {
  margin-left: 26em;
  width: 35%;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

body {
	background-image: url("valley_girl_background.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#logo-links {
  display: inline-block;
}

.links:hover {
   transform: scale(1.1); 
}

.link:hover {
  transform: scale(1.1);
}

button {
  background-color: #e8e8e8;
  color: white;
  border: none;
  margin: 1em;
  font-size: 2.5em;
  font-weight: bold;
}

button:hover {
   transform: scale(1.5);
}

#totally-valley-link {
    width: 10%;
    margin-bottom: -10em;
    margin-left: 1em;
}
/*//////////////MOVIE INDEX PAGE///////////////////*/

#movielinks-container {
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  float: right;
  padding: 3.5em;
  margin-top: -32em;
  margin-right: 3em;
}

#movies-logo {
  width: 35%;
  margin: 5em;
}

/*////////////SOUND BUTTONS ON LANDING PAGE///////////////*/

#as-if-sound {
  float: left;
  margin-top: -12em;
}

#wow-sound {
  float: left;
  margin-left: 6em;
  margin-top: -7.5em;
}

#popular-sound {
  float: right;
  margin-right: 5em;
  margin-top: -4em;
}

#fer-sure-sound {
  float: right;
  margin-right: 7em;
  margin-top: -8em;
}

/*/////////////SHOW PAGES DISPLAY///////////////*/

#song-image {
  width: 30%;
  box-shadow: 20px 20px 10px #888888;
}

#movie-image {
  box-shadow: 20px 20px 10px #888888;
}

textarea {
  width: 30%;
  height: 10em;
  box-shadow: 20px 20px 10px #888888;
  padding: 1em;
  font-size: 1em;
}  


/*//////////CSS FOR THE QUIZ///////////////*/


.quiz {
  border: 1px solid black;
  margin: 0 15em;
  padding: 1em;
  text-align: left;
}

input[type="radio"]{
  margin: .5em 1.5em ;
}

#submit {
  margin: .2em 15em;
  padding: .5em;
  text-align: center;
  border: 1px solid black;
  height: 2em;
  width: 15em;
}

#outcome {
  height: 4em;
  width: 10em;
  padding: 2em;
  overflow: auto;
  word-break: break-word;
}
