<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Totally Valley</title>
	<script type="text/javascript" src="../javascripts/quiz.js"></script>
</head>
<body>
	<header id="landing-page-header">
		<img id="totally_valley_logo" src="images/totally_valley_logo.png"/>
	</header>
	<section class="sounds">
		<button id="as-if-sound" onclick="this.firstChild.play()"><audio src="sounds/as_if.mp3"></audio>as if</button>
	  	</button> 
	  	<button id="wow-sound" onclick="this.firstChild.play()"><audio src="sounds/like_wow.mp3"></audio>wow</audio>
	  	</button> 
	  	<button id="popular-sound" onclick="this.firstChild.play()"><audio src="sounds/popular.mp3"></audio>popular</audio>
	  	</button> 
	  	<button id="fer-sure-sound" onclick="this.firstChild.play()"><audio src="sounds/fer_sure.mp3"></audio>fer sure</audio>
	  	</button> 
	<section>

	<section class="links-container">
		<div class="link"><a href= "/movies"><img src="images/movies.png"></a><br></div>	
		<div class="link"><a href= "/songs"><img src="images/songs.png"></div>
		<div class="link"><a href= "/quizes"><img src="images/quiz.png"></a></div>
		<div class="link"><a href= "/stores"><img src="images/stores.png"></a></div>
	</section>
	<br/>

</body>

</html>
