<!DOCTYPE html>
<html>
<head>
	<title>TOTALLY VALLEY</title>
</head>
<body>

<header>
	<img src="images/totally_valley_logo.png"/>
</header>

<section class="links">
	<a class="links" href= "/movies"><img id="movies" src="images/movies.png"></a><br>
	<a class="links" href= "/translator"><img id="translator" src="images/translator.png"></a>
	<a class="links" href= "/songs"><img id="songs" src="images/songs.png">
	<a class="links" href= "/stores"><img id="stores" src="images/stores.png"></a>
</section>

<section id="sounds">
	<button onclick="this.firstChild.play()"><audio src="sounds/as_if.mp3"></audio>as if</button>
  	</button> 
  	<button onclick="this.firstChild.play()"><audio src="sounds/like_wow.mp3"></audio>wow</audio>
  	</button> 
  	<button onclick="this.firstChild.play()"><audio src="sounds/popular.mp3"></audio>popular</audio>
  	</button> 
  	<button onclick="this.firstChild.play()"><audio src="sounds/fer_sure.mp3"></audio>fer sure</audio>
  	</button> 
<section>

</body>

</html>
