<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    <header>
      <img src="images/stores.png">
    </header>
    <% @stores.each do |store| %><br/>
    <div class="store-links">
      <h2><%= link_to "#{store.name}", store_path(store.id) %><h2><br/>
    </div>
    <% end %>

    <br/>

    <div id="map"></div>
 
 
    <%= link_to "CREATE", new_store_path %><br/>
    <%= link_to "MAIN", root_path %>

 </body>
</html>





