<!DOCTYPE html>
<html>
<head>
	<title>New Store</title>
</head>
<body>
	<header id="page-title">
		<h1 >Add a Store</h1>
	</header>

	<section class="form-container">
		<div class="form">
		<%= render :partial => 'form' %>
		</div>
	</section>

	<footer>	
		<a href= "/" ><img class="back-to-link" src="/images/totally_valley_logo.png"/></a>
		<a href= "/stores" ><img class="back-to-link" src="/images/stores.png"/></a>
	</footer>

</body>
</html>
