<!DOCTYPE html>
<html>

<body>
	<header id="page-title">
		<h1><%= @store.name %></h1>
	</header>

<div id="store-wrapper">
	<div id="storeinfo-container">
		<h3><%= @store.location %></h3><br/>
		<h4><%= link_to 'Edit Store', edit_store_path %></h4>
	</div>
</div>

<footer id="store-footer">	
	<a href= "/" ><img class="back-to-link" src="/images/totally_valley_logo.png"/></a>
	<a href= "/stores" ><img class="back-to-link" src="/images/stores.png"/></a>
</footer>

</body>
</html>