<!DOCTYPE html>
<html>
<head>
	<title>Edit Movie</title>
</head>
<body>
	<header id="page-title">
		<h1 >Edit Movie</h1>
	</header>

	<section class="form-container">
		<div class="form">
			<%= render :partial => 'form' %>
		</div>
	</section>
	<br/>

	<footer>	
		<a href= "/" ><img class="back-to-link" src="/images/totally_valley_logo.png"/></a>
		<a href= "/movies" ><img class="back-to-link" src="/images/movies.png"/></a>
	</footer>

</body>
</html>
