<!DOCTYPE html>
<html>
<head>
	<title>EDIT</title>
</head>
<body>
	<header>
		<h1>EDIT MOVIE</h1>
	</header>

	<div>
	<%= render :partial => 'form' %>
	</div>
<br/>
<%= link_to "OMIGAWD. TAKE ME BACK TO THE HOMEPAGE", root_path %>
</body>
</html>
