<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Movies</title>
</head>

<body>
	<header>
		<a href= "/" ><img id="movies-logo" src="images/movies.png"></a>
	</header>
<br/>

<body>
	<div id="movielinks-container">
		<% @movies.each do |movie| %>
		<h2 class="links"><a href= "/movies/<%= movie.id%>"> <%= movie.title %> </a></h2>	
		<% end %>
		<br/>
		<h3><%= link_to '+ Add a Movie', new_movie_path %></h3>
	</div>
	<br/>

	<footer>	
		<a href= "/" ><img id="totally-valley-link" src="images/totally_valley_logo.png"/></a>
	</footer>

</body>
</html>

