<!DOCTYPE html>
<html>
<head>
	<title>New Movie</title>
</head>

<body>
	<header id="add-movie-title">
		<h1 >Add a Movie</h1>
	</header>

	<div class="form">
	<%= render :partial => 'form' %>
	</div>

	<footer>	
		<a href= "/" ><img id="totally-valley-link" src="/images/totally_valley_logo.png"/></a>
	</footer>

</body>
</html>
