<h1>BITCHIN' SONGS</h1>
<% @songs.each do |song| %><br/>

<%= link_to "#{song.title}", song_path(song.id) %><br/>

<% end %><br/>


<%= link_to "CREATE", new_song_path %><br/>
<%= link_to "HOME", root_path %>



