<!DOCTYPE html>
<html>
<head>
	<title>SONGS</title>

	<h1>BITCHIN' SONGS</h1>

	<% @songs.each do |song| %><br/>
	<div class="links">
		<%= link_to "#{song.title}", song_path(song.id) %><br/>
	</div>
		<% end %>

	<br/>


	<%= link_to "CREATE", new_song_path %><br/>
	<%= link_to "MAIN", root_path %>

</body>
</html>

