<!DOCTYPE html>
<html>
<head>
	<title>Songs</title>
</head>

<body>
	<header>
		<img src="images/songs.png">
	</header>
<br/>

<body>
	<% @songs.each do |song| %><br/>
	<div class="links">
		<h2><%= link_to "#{song.title}", song_path(song.id) %></h2><br/>
	</div>
		<% end %>

	<br/>

	<%= link_to "CREATE", new_song_path %><br/>
	<%= link_to "MAIN", root_path %>

</body>
</html>

