<!DOCTYPE html>
<html>
<head>
	<title>Songs</title>
</head>

<body>
	<header>
		<a href= "/" ><img id="songs-logo" src="images/songs.png"></a>
	</header>
<br/>

<body>
	<div id="songlinks-container">
		<% @songs.each do |song| %>
		<h2 class="links"><%= link_to "#{song.title}", song_path(song.id) %></h2>
		<% end %>
		<br/>
		<h3><%= link_to '+ Add a Song', new_song_path %></h3>
	</div>
	<br/>

	<footer>	
		<a href= "/" ><img id="totally-valley-link" src="images/totally_valley_logo.png"/></a>
	</footer>

</body>
</html>

