<!DOCTYPE html>
<html>
<head>
  <title>ValleyGirlApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href='https://fonts.googleapis.com/css?family=Homemade+Apple|Press+Start+2P|Diplomata' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
